<ul class="list-group list-reset">
<!--   <hr>
  <li routerLink="inicio" class="list-group-item list-group-item-action"  routerLinkActive="active">
    Inicio
  </li>

  <hr>
  <li routerLink="acerca" class="list-group-item list-group-item-action"  routerLinkActive="active">
    Acerca
  </li>

  <hr>
  <li routerLink="contacto" class="list-group-item list-group-item-action"  routerLinkActive="active">
    Contacto
  </li>
 -->
  <hr>
  <li routerLink="ciudades/porCapital" class="list-group-item list-group-item-action"  routerLinkActive="active">       
    Por Capital
  </li>

  <hr>
  <li routerLink="ciudades/porRegion" class="list-group-item list-group-item-action"  routerLinkActive="active">
    Por Region
  </li>

  <hr>
  <li routerLink="ciudades/porPais" class="list-group-item list-group-item-action"  routerLinkActive="active">
    Por Pais
  </li>
</ul>
